:root {
  --bg: #191A19;
  --bg-primary: #1E5128;
  --bg-secondary: #4E9F3D;
  --bg-ligth: #D8E9A8;
  --red-primary:#641E16;
  --red-secondary:#B03A2E;
  --font-primary: 'Lobster', cursive;
  --font-secondary: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  background-color: var(--bg-ligth);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ----------------------------------------- Header ------------------------------*/

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header {
  width: 100%;
  height: 50vh;
  background-color: var(--bg);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.header-small {
  height: 20vh;
}

.card {
  width: 90%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
}

.card__title {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-primary);
}

.card__title-span {
  color: var(--bg-secondary);
  font-size: 4rem;
}

.card__separator {
  width: 90%;
  margin: 1rem auto;
}

.add {
  width: 100%;
  padding: 1rem 1.5rem;
}

.add__form {
  width: 100%;
}

.add__form-inputs {
  padding: 0.5rem;
}

.add__form-inputs select,
.add__form-inputs input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.add__form-inputs select,
.add__form-inputs input:focus {
  outline: none;
  font-size: 1.3rem;
}

.add__form-inputs input[type=submit] {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--bg-secondary);
  color: var(--bg-ligth);
  letter-spacing: 1px;
  padding: 1rem;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.add__form-label {
  font-size: 1.3rem;
  color: var(--bg-ligth);
  letter-spacing: 1px;
}

.info {
  width: 100%;
  padding: 1rem;
}

.graph {
  width: 100%;
  text-align: center;
}

.graph-item {
  width: 7rem;
  height: 7rem;
}

.details {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.details__info {
  margin-top: 1rem;
  color: var(--bg-ligth);
  display: inline-block;
  font-size: 1.3rem;
}

.details__amount {
  margin-left: 0.5rem;
  font-family: var(--font-primary);
  display: inline-block;
  margin-top: 0.5rem;
  display: inline;
  color: var(--bg-secondary);
}

@media(min-width: 768px) {
  .card {
    width: 60%;
  }

  .add {
    width: 75%;
    margin: 0 auto;
  }

  .info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* -------------------------------------------------- Main ----------------------------------------- */
.main {
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid #4E9F3D;
  position: relative;
  margin-top: 25vh;
  border-radius: 1rem;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  display: none;
  transition: unset;
}

@media(min-width: 768px){
  .main {
    width: 50%;
  }
}

.main-active {
  display: block;
  opacity: 1;
}

.main__title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
}

.main__separator {
  width: 90%;
  margin: 1rem auto;
  border: 1px solid #4E9F3D;
}

.list {
  width: 100%;
  height: 35vh;
  padding: 1rem;
  overflow-y: scroll;
  transition: unset;
}

.record {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  transition: unset;
}

.record-income {
  background-color: var(--bg-primary);
}

.record-expensive {
  background-color: var(--red-primary);
}

.record__header, .record__body, .record__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record__type {
  font-family: var(--font-primary);
  letter-spacing: 1px;
  color: var(--bg-secondary);
}

.record__category {
  color: #e2e2e2;
}

.record__footer {
  font-size: 1rem;
  color: #e2e2e2;
  margin-top: 2rem;
  opacity: 0;
}

.record__body {
  margin-top: 1rem;
}

.record__description {
  color: #e2e2e2;
  font-size: 1.2rem;
}

.record__price {
  font-family: var(--font-primary);
  color: var(--bg-secondary);
}

.record__footer {
  opacity: 1;
}

.record-expensive-color {
  color: var(--red-secondary);
}

/* ----------------------------------------------- Float Button ------------------------------------- */

.floatButton {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #191A19;
  border-radius: 50%;
  top: 95%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}

.swipeable-list {
  height: auto;
  transition: unset;
}

.swipeable-list-item__leading-actions {
  background-color: blue;
  height: 10.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #e2e2e2;
  transition: unset;
}

.swipeable-list-item__trailing-actions {
  background-color: var(--red-primary);
  height: 10.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #e2e2e2;
  transition: unset;
}